@model List<string>
@{
    ViewBag.Title = "Archiver";
    int i = 0;
}
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: teal;
            background-image: linear-gradient(to bottom right, moccasin, teal);
        }
    </style>
</head>

<body>
    
    <h2>Выбрать файлы для архивации</h2>


    <form asp-controller="Home" asp-action="Archivation" method="post">
        @foreach (var filename in Model)
        {
            <p>
                <input type="checkbox" name="files[@i].Selected" value="true" />
                <input type="hidden" name="files[@i].Selected" value="false" />
                <input type="hidden" name="files[@i].Name" value="@filename" />
                @filename
            </p>

            i++;
        }
        <input type="submit" value="Архивировать" />
    </form>
</body>

</html>

